<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470708476619-5d323up4cb5sg2u3tkf6d92058i876u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470708476619-5d323up4cb5sg2u3tkf6d92058i876u8</string>
	<key>API_KEY</key>
	<string>AIzaSyAFtigwFLo8VZZeAGU2XFmNfHJyy8hegqs</string>
	<key>GCM_SENDER_ID</key>
	<string>470708476619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tuktukpools</string>
	<key>PROJECT_ID</key>
	<string>tuktukpools-469aa</string>
	<key>STORAGE_BUCKET</key>
	<string>tuktukpools-469aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470708476619:ios:0b637c7c1e78d5f8ee594e</string>
</dict>
</plist>